.text{
    color: black;
}
.text-bg {
    text-align: center;
}
.text-bg h1 {
    color: #000;
    margin-top: 150px;
    font-size: 30px;
    line-height: 50px;
    font-weight: normal;
    padding-bottom: 18px;
    display: block;
}
.text-bg figure img {
    width: 100%;
    padding-top: 70px;
}
.text_img {
    margin-top: 70px;
}
.text_img figure {
    margin: 0;
}
.text_img figure img {
    width: 100%;
}
