<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Devraj Thapamagar</h3>
            <h5>example@email.com</h5>
        </div>
        <img src="../../../assets/image/logo3.png" alt="profile">
    </div>
    <mat-divider></mat-divider>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard"><mat-icon class="me-4">bar_chart</mat-icon>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/owner"><mat-icon class="me-4">group</mat-icon>Owners</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="home"><mat-icon class="me-4">exit_to_app</mat-icon>Logout</a>
        
</mat-nav-list>

